<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flowers</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

    <style>
        .scroll {
            height: 10vw;
            border-bottom: none;
            width: 100%;
            overflow-y: scroll;
        }

        .card {
            height: 30vw;
        }

        a, a:hover, a:visited, a:focus {
            color: white;
            text-decoration: none;
        }

        .index, .content {
            position: relative;
        }

        .index {
            z-index: 1;
        }

        .content {
            padding-top: 80px;
        }

    </style>

</head>
<body class="pb-5">

<div class="index">
    <nav class="navbar navbar-expand-lg navbar-dark position-fixed bg-dark pl-4 pt-3 pb-1 mb-0"
         style="background-image: url(https://10factov.net/uploads/facts/520-fact-main-840.jpg); width: 100%; z-index: initial">
        <a class="navbar-brand" href="../index.html"
           style="font-size: xx-large; font-family: Pompadur, 'Comic Sans MS', cursive;"><b><i>Flowers </i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-between" style="width: 100%">
                <li class="nav-item ml-5 mr-5">
                    <a class="nav-link active" href="catalog.html"><h5><b>Каталог</b></h5></a>
                </li>
                <li class="nav-item active ml-5 mr-5">
                    <a class="nav-link active" href=""><h5><b>Букеты</b></h5></a>
                </li>
                <li class="nav-item ml-5 mr-5">
                    <a class="nav-link active" href="flowers.html"><h5><b>Цветы</b></h5></a>
                </li>
                <li class="nav-item ml-5 mr-5">
                    <a class="nav-link active" href="pots.html"><h5><b>Горшки</b></h5></a>
                </li>

                <li class="nav-item dropdown ml-5 mr-5">
                    <a class="nav-link dropdown-toggle " href="profile.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profile.html"><h5><b>Профиль</b></h5></a></a>
                        <a class="dropdown-item" href="#">Редактировать</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">История заявок</a>
                    </div>
                </li>
                <!--            <li class="nav-item ml-5 mr-5">-->
                <!--                <a class="nav-link active" href="navbar/profile.html"><b>Вход/Регистрация</b></a>-->
                <!--            </li>-->
            </ul>
        </div>
    </nav>
</div>


<div class="content">


    <div class="pb-3 text-center">
        <h3 class="m-3"><b>Букеты</b></h3>
    </div>


    <div class="text-center mb-5 pl-0 pr-0 container d-flex flex-row">

        <div class="block col-md-6 col-xl-3 ">
            <div class="card shadow " style="width: auto">
                <img src="https://sun9-67.userapi.com/slCzrgrN0oMdA4Y9IgRpI-ojwHdtxqUNbiONIw/9NHjPDiI7zA.jpg"
                     class="card-img-top" alt="Red roses">
                <div class="card-body p-0">
                    <h5 class="card-title pt-1 mb-1">Гортензия</h5>
                    <div class="text-center">
                        <small><b>Цена:</b> 2000р</small>
                    </div>
                    <div class="scroll">
                        <p class="card-text p-2">Если вы хотите показать кому-то, насколько цените его помощь и
                            присутствие,
                            гортензия для этого подходит лучше всего. Также этот красивый цветок является символом более
                            глубокого понимания между двумя людьми, как между друзьями и членами семьи, так и
                            романтической
                            парой.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-md-6 col-xl-3 ">
            <div class="card shadow " style="width: auto">
                <img src="https://sun9-76.userapi.com/kfNxuARtBz6ZiWS2W8IGa3Y4xic-cy3F-E4D-w/lnFUjeV6E4k.jpg"
                     class="card-img-top" alt="Red roses">
                <div class="card-body p-0">
                    <h5 class="card-title pt-1 mb-1">Пионы</h5>
                    <div class="text-center">
                        <small><b>Цена:</b> 3000р</small>
                    </div>
                    <div class="scroll">
                        <p class="card-text p-2">Обладая чувственным и притягательным ароматом, пион также является
                            отличным
                            лекарством для привлечения любви и романтики. Символически и метафорически пион являет собой
                            воплощение женственности и женской красоты.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-md-6 col-xl-3 ">
            <div class="card shadow " style="width: auto">
                <img src="https://sun9-66.userapi.com/aW7O42NUc1aZDLrqwGXvuZC_eEjkgsv6Ad2VIA/spnlOg2R6oI.jpg"
                     class="card-img-top" alt="Red roses">
                <div class="card-body p-0">
                    <h5 class="card-title pt-1 mb-1">101 Красная роза</h5>
                    <div class="text-center">
                        <small><b>Цена:</b>10000р</small>
                    </div>
                    <div class="scroll">
                        <p class="card-text p-2">
                            Красные розы – воплощение любви и душевного притяжения, подаренные
                            любимому человеку, розы найдут путь в его сердце и поселят там счастье и
                            радость</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="block col-md-6 col-xl-3">
            <div class="card shadow" style="width: auto">
                <img src="https://sun9-17.userapi.com/14m8QlhZ6YsIziU3VIky3HNdwI8ul5z8VEKlGw/yVqX6qwCJd8.jpg"
                     class="card-img-top" alt="Black roses">
                <div class="card-body p-0">
                    <h5 class="card-title pt-1 mb-1">хризантемы</h5>
                    <div class="text-center">
                        <small><b>Цена:</b> 1100р</small>
                    </div>
                    <div class="scroll">
                        <p class="card-text p-2">Хризантема — цветок радости, символ солнца. Ориентируясь на красивый
                            романтичный «язык цветов» можно выразить сокровенные чувства и отношение. Важно при этом
                            проявить фантазию, внимание, свои эмоции и предпочтения того, кому предназначен букет.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="text-center mt-5 pl-0 pr-0 container d-flex flex-row">

        <div class="block col-md-6 col-xl-3">
            <div class="card shadow" style="width: auto">
                <img src="https://sun9-76.userapi.com/9YYn8MAnkxGDGz01Lmb-Szs34f_PsBA7XeUQCg/tfXmK9cWbPk.jpg"
                     class="card-img-top" alt="Black roses">
                <div class="card-body p-0">
                    <h5 class="card-title pt-1 mb-1">Тюльпаны</h5>
                    <div class="text-center">
                        <small><b>Цена:</b> 1500р</small>
                    </div>
                    <div class="scroll">
                        <p class="card-text p-2">Тюльпаны на цветочном языке означает - подарить пожелания процветания,
                            радости и счастья. Букет тюльпанов по праву символизирует щедрость вашего сердца, и
                            богатство
                            души, а благодаря всем своим оттенкам такой букет способен выразить все Ваши эмоции.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>